<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Princeton Women's Ultimate Frisbee Team</title>

	<!-- Bootstrap -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/icons.css" type="text/css" media="screen"  charset="utf-8">
	<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" media="screen"  charset="utf-8">
	
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
  <link href='css/style.css' rel='stylesheet' type='text/css'>

  <!-- Angular -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
  
  <!--<script type="text/javascript" src="jquery1.6.2.js"></script>-->


</head>

<body ng-app="Roster">
	<!-- Navigation -->
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#clock-menu">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand " rel="home" href="index.html">
					<img src="images/logo.png" class="img-responsive" />
				</a>
				<a class="navbar-brand-small " rel="home" href="index.html">
					<img src="images/logo-sm.png" class="img-responsive" style="margin-top:10px" />
				</a>               
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="clock-menu">
				<div class="pull-right">
					<ul class="nav navbar-nav">
						<li>
							<a href="about.html">About</a>
						</li>
						<li>
							<a href="roster.html">Roster</a>
						</li>
						<li>
							<a href="schedule.html">Scores</a>
						</li>
						<li>
							<a href="media.html">Media</a>
						</li>
						<li>
							<a href="contact.html">Contact</a>
						</li>
						<li>
							<a href="https://twitter.com/huckmemaybe" target="blank" style="margin:0; padding-left:0;padding-right:5px;margin-top:-5px;">
								<span class="fa-stack">
									<i class="fa fa-circle fa-stack-2x" style="color:#5ea9dd"></i>
									<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</li>
						<li>
							<a href="https://www.facebook.com/princetonclockworkorange" target="blank" style="margin:0; padding-left:0;padding-right:5px;margin-top:-5px;">
								<span class="fa-stack">
									<i class="fa fa-circle fa-stack-2x" style="color:#3a5795;"></i>
									<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
								</span></a>
							</li>
							<li>
								<a href="https://www.youtube.com/channel/UCOkeVg6zTE2rJtmP3ToTTmQ" target="blank" style="margin:0; padding-left:0;margin-top:-5px;">
									<span class="fa-stack">
										<i class="fa fa-circle fa-stack-2x" style="color:#cc181e;"></i>
										<i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container -->
		</nav>

		<div class = "container page"> 
			<h1>ROSTER</h1>
			<div ng-controller="DefaultSeasonController" ngCloak>
				<div class="dropdown">
			    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{ currentYear }}
			    <span class="caret"></span></button>
			    <ul class="dropdown-menu">
			      <li><a ngCloak ng-repeat="season in data.season"  ui-sref="roster({id: $index })" ng-click="select($index)" >{{ season.years}}</a></li>
			    </ul>
			  </div>

				<div ui-view ngCloak></div>

			</div>

		</div>
		<hr>
		<!-- Footer -->
		<div class="footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="pull-right">
							<p>
								Lady Clockwork 2016 | <a href="contact.html">Contact</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="js/bootstrap.min.js"></script>

		<!-- other scripts -->

		<!-- EDIT THIS FILE FOR THE ROSTER -->
		<!-- ######################################################################### -->
		<script src="data/roster.js"></script>
		<!-- ######################################################################### -->

		<!-- Angular modules -->
		<script src="js/app.js"></script>
		<script src="js/filters/gradYear.js"></script>
		<script src="js/directives/personInfo.js"></script>
		<script src="js/controllers/DefaultSeasonController.js"></script>
		<script src="js/controllers/RosterController.js"></script>

		<!-- Templates. Ugly hack, but we have no webserver :( -->
		<script type="text/ng-template" id="tmpl/directives/personInfo.html">
			<div class='col-xs-12 col-sm-4 col-md-3'>
				<h2>{{ person.name }} &rsquo;{{ person.year | gradYear }}</h2>
				<h4>{{ person.nick }}</h4>
				<div class="texthover">
					<img src="{{person.img_src}}" class="img-responsive" />
					<div class="overlay">
						<p>{{ person.bio }}</p>
					</div>
				</div>
			</div>
		</script>
		<script type="text/ng-template" id="tmpl/seasonRoster.html">
			<div class="row">
			  <div ng-repeat="person in detail.person">
			    <person-info person="person"></person-info>
			  </div>
			</div>

		</script>
	</body>
	</html>