<div class="row">
  <div class="col-md-6">
    <h2>{{detail.spring.date}}</h2>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Tournament</th>
          <th>Opponent</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody ng-repeat="n in detail.spring.Tournament">
        <tr>
          <th>{{n.name}}</th>
          <td>{{n.opponent[0].opponent}}</td>
          <td>{{n.opponent[0].score}}</td>
        </tr>
        <tr>
          <td>{{n.date}}</td>
          <td>{{n.opponent[1].opponent}}</td>
          <td>{{n.opponent[1].score}}</td>
        </tr>
        <tr>
          <td>{{n.place}} {{n.place != "" ? "place" : ""}}</td>
          <td>{{n.opponent[2].opponent}}</td>
          <td>{{n.opponent[2].score}}</td>
        </tr>
        <tr ng-repeat="m in n.opponent" ng-if="$index > 2">
          <td></td>
          <td>{{m.opponent}}</td>
          <td>{{m.score}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <h2>{{detail.fall.date}}</h2>
    <table class="table table-striped table-hover">
      <thead ng-if="detail.fall.date">
        <tr>
          <th>Tournament</th>
          <th>Opponent</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody ng-repeat="n in detail.fall.Tournament">
        <tr>
          <th>{{n.name}}</th>
          <td>{{n.opponent[0].opponent}}</td>
          <td>{{n.opponent[0].score}}</td>
        </tr>
        <tr>
          <td>{{n.date}}</td>
          <td>{{n.opponent[1].opponent}}</td>
          <td>{{n.opponent[1].score}}</td>
        </tr>
        <tr>
          <td>{{n.place}} {{n.place != "" ? "place" : ""}}</td>
          <td>{{n.opponent[2].opponent}}</td>
          <td>{{n.opponent[2].score}}</td>
        </tr>
        <tr ng-repeat="m in n.opponent" ng-if="$index > 2">
          <td></td>
          <td>{{m.opponent}}</td>
          <td>{{m.score}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

</div>